<<<<<<< HEAD
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700;900&display=swap');

/* global */
* {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  font-size: 16px;
  text-align: center;
  background: linear-gradient(
    to right,
    #abbaab,
    #ffffff
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.btn {
  border: 0;
  color: #111;
  cursor: pointer;
  padding: 0.5em;
  font-weight: 600;
  margin: 0 0.5em;
  text-transform: uppercase;
}

/* Header */

header {
  margin: 2em;
}

/*Main Container*/

.books-display {
  /* width: 30em; */
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

table {
  border-collapse: collapse;
  text-align: center;
}

table thead {
  font-size: 1.5em;
  background-color: whitesmoke;
  text-transform: capitalize;
}

thead td {
  cursor: pointer;
}
thead td:hover {
  background-color: #333;
}

td {
  border: 0.1rem solid #111;
}

img {
  height: 10em;
  float: left;
}

/* add book modal */

.add-book-modal {
  opacity: 0;
  position: fixed;
  left: -150vw;
  padding: 4rem;
  background: linear-gradient(
    to right,
    #141e30,
    #243b55
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  box-shadow: 5px 5px 15px 5px #000000;
  transition: opacity 0.5s;
}

.show-modal {
  opacity: 100;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.add-book-modal h2 {
  color: whitesmoke;
}

.add-book {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  color: whitesmoke;
}

.add-book button {
  color: #141e30;
  background-color: #aaa;
}

.add-book button:hover {
  background-color: #888;
}

/* Read Book Modal */

.book-modal {
  box-shadow: 9px 5px 15px 5px rgba(0, 0, 0, 0.84);
  padding: 1em;
  position: fixed;
  width: 20em;
  color: whitesmoke;
  background: linear-gradient(
    to right,
    #00b4db,
    #0083b0
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  right: -200vw;
  transition: right top 0.5s;
}

.close-btn {
  position: absolute;
  top: 0.5em;
  left: 0.5em;
  cursor: pointer;
}

.book-modal input[type='number'] {
  width: 10%;
}

/* buttons classes */

.decrease {
  cursor: pointer;
}

.increase {
  cursor: pointer;
}

.btn-create {
  background-color: greenyellow;
}

.btn-read {
  background-color: cyan;
}

.btn-remove {
  background-color: red;
}

.btn-update {
  background-color: yellow;
}

.page-btn {
  margin-top: 0.5em;
  cursor: pointer;
}

button:disabled {
  background-color: lightgrey;
  cursor: default;
}

/* Hide input default buttons Chrome, Safari, Edge, Opera */
.book-modal input::-webkit-outer-spin-button,
.book-modal input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* utility classed */

.show {
  top: 2em;
  right: 2em;
}
=======
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700;900&display=swap');

/* global */
* {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  font-size: 16px;
  text-align: center;
}

.btn {
  border: 0;
  color: #111;
  cursor: pointer;
  padding: 0.5em;
  font-weight: 600;
  margin: 0 0.5em;
  text-transform: uppercase;
}

/* Header */

header {
  margin: 2em;
}

/*Main Container*/

.books-display {
  /* width: 30em; */
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

table {
  border-collapse: collapse;
  text-align: center;
}

table thead {
  font-size: 1.5em;
  background-color: whitesmoke;
  text-transform: capitalize;
}

thead td {
  cursor: pointer;
}
thead td:hover {
  background-color: #333;
}

td {
  border: 0.1rem solid #111;
}

img {
  height: 10em;
  float: left;
}

/* add book modal */

.add-book-modal {
  opacity: 0;
  position: fixed;
  left: -150vw;
  padding: 4rem;
  background: linear-gradient(
    to right,
    #141e30,
    #243b55
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  box-shadow: 5px 5px 15px 5px #000000;
  transition: opacity 0.5s;
}

.show-modal {
  opacity: 100;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.add-book-modal h2 {
  color: whitesmoke;
}

.add-book {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  color: whitesmoke;
}

.add-book button {
  color: #141e30;
  background-color: #aaa;
}

.add-book button:hover {
  background-color: #888;
}

/* Read Book Modal */

.book-modal {
  box-shadow: 9px 5px 15px 5px rgba(0, 0, 0, 0.84);
  padding: 1em;
  position: fixed;
  width: 20em;
  color: whitesmoke;
  background: linear-gradient(
    to right,
    #00b4db,
    #0083b0
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  right: -200vw;
  transition: right top 0.5s;
}

.close-btn {
  position: absolute;
  top: 0.5em;
  left: 0.5em;
  cursor: pointer;
}

.book-modal input[type='number'] {
  width: 10%;
}

/* buttons classes */

.decrease {
  cursor: pointer;
}

.increase {
  cursor: pointer;
}

.btn-create {
  background-color: greenyellow;
}

.btn-read {
  background-color: cyan;
}

.btn-remove {
  background-color: red;
}

.btn-update {
  background-color: yellow;
}

.page-btn {
  margin-top: 0.5em;
  cursor: pointer;
}

button:disabled {
  background-color: lightgrey;
  cursor: not-allowed;
}

/* Hide input default buttons Chrome, Safari, Edge, Opera */
.book-modal input::-webkit-outer-spin-button,
.book-modal input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* utility classed */

.show {
  top: 2em;
  right: 2em;
}
>>>>>>> 97f87707a9da920f27e2415fb7c9356e9794344c
